<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show oneook</title>
</head>
<body>
    <section>
        <img src="<%= book.img %>" alt="">
        <h2>Title :<%= book.title %></h2>
        <h3>Auther : <%= book.author %></h3>
        <p> Description: <%= book.description %></p>
       <p> ISBN: <%= book.industryIdentifiers%></p>
    </section>
    
</body>
</html>