<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <% bookObjects.forEach(book  => { %>
             <p>
                <img src="<%=book.image_url %>" alt="">
            </p>
            <span>Title :</span>
            <p><%= book.title %></p>
             <span>Author:</span>
             <p><%= book.author %></p>
                <br>
                <br>
                <span> Description: </span> <br> 
                <p> <%= book.description %></p>
                <span> ISBN: </span>  
                <p> <%= book.isbn %></p>
                
        <br>
        <div class="updateForm" style="display: none;">

        <form action="/book" method="post" type="hidden">
         <input type="text" name="image_url" value="<%= book.image_url %>">
         <input value="<%= book.title %>" type="text" name="title"><br>
         <input type="text" name="author" value="<%= book.author %>"><br>
         <textarea name="descriptions" cols="60" rows="20">
            <%= book.description %> 
         </textarea><br>
         <input name="isbn" value="<%= book.isbn %>">
         <br>
        </div>
         <input type="submit" value="save to database">
        </form>
    
        <% }); %>
   
    </main>
</body>
</html>
