<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <main>

        <% bookObjects.forEach(book  => { %>
        <form action="/book/<%=book.id%>" method="post">
            <fieldset> 
              ID: <p><%=book.id%> </p>
            <input type="image" src="<%=book.img %>" alt=""> <br> <br>
             <span>Title :</span>
                <input value="<%= book.title %>" type="text" name="title">
                <br><br>
                <span>Author:</span>
                <input type="text" name="author" value="<%= book.author %>">
                <br>
                <br>
                <span> Description: </span> <br> 
                <textarea name="textarea" cols="60" rows="20">
                 <%= book.description %>
                 </textarea> <br><br>
                <input type="submit" value="Add to book shelf :(">
            </fieldset>

        </form>

        <% }); %>

    </main>
</body>

</html>